<% include ../partial/head %>

<body>
    <% include ../partial/top-header %>
    <!-- Begin Page Content -->
    <div class="page-content d-flex align-items-stretch">
        <% include ../partial/nav %>
        <div class="content-inner compact">
            <div class="container-fluid">
                <div class="page-header pr-0 pl-0">
                    <div class="d-flex align-items-center">
                        <h2 class="page-header-title">Profile</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <!-- Begin Widget -->
                        <div class="widget has-shadow">
                            <div class="widget-body">
                                <div class="mt-5">
                                    <img src="<%-consts.base_url %>theme/img/avatar/avatar-01.png" alt="..."
                                        style="width: 120px;" class="avatar rounded-circle d-block mx-auto">
                                </div>
                                <h3 class="text-center mt-3 mb-1"><%=user_info.fullname%></h3>
                                <p class="text-center"><%=user_info.email%></p>
                            </div>
                        </div>
                        <!-- End Widget -->
                    </div>
                    <div class="col-xl-9">
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h4>Update Profile</h4>
                            </div>
                            <div class="widget-body">
                               
                                <form class="form-horizontal" action="/user/update_profile" method="POST">
                                    <div class="form-group row d-flex align-items-center mb-5">
                                        <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Full
                                            Name</label>
                                        <div class="col-lg-6">
                                            <input type="text" name="fullname" class="form-control" value="<%=user_info.fullname%>">
                                        </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-5">
                                        <label
                                            class="col-lg-2 form-control-label d-flex justify-content-lg-end">Email</label>
                                        <div class="col-lg-6">
                                            <input type="text" readonly class="form-control" value="<%=user_info.email%>">
                                        </div>
                                    </div>
                                    <div class="em-separator separator-dashed"></div>
                                    <div class="col text-left">
                                            <% if (profile_update_message && profile_update_message != '') { %>
                                            <div class="text-success"><%- profile_update_message %></div>
                                            <br />
                                            <% } %>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-gradient-01" type="submit">Save Changes</button>                                      
                                    </div>
                                </form>
                                
                                <div class="col-10 ">
                                    <div class="section-title mt-3 mb-3 ">
                                        <h4>Change password</h4>
                                    </div>
                                </div>
                                <form class="form-horizontal"  action="/user/update_password" method="POST">                                
                                    <div class="form-group row d-flex align-items-center mb-5">
                                        <label class="col-lg-3 form-control-label d-flex justify-content-lg-end">New
                                            password</label>
                                        <div class="col-lg-6">
                                            <input type="password" name="password" class="form-control" placeholder="new password">
                                        </div>
                                    </div>
                                    <div class="form-group row d-flex align-items-center mb-5">
                                        <label
                                            class="col-lg-3 form-control-label d-flex justify-content-lg-end">Confirm password</label>
                                        <div class="col-lg-6">
                                            <input type="password" class="form-control" placeholder="confirm password">
                                        </div>
                                    </div>
                                    <div class="em-separator separator-dashed"></div>
                                    <div class="col text-left">
                                            <% if (password_update_message && password_update_message != '') { %>
                                            <div class="text-success"><%- password_update_message %></div>
                                            <br />
                                            <% } %>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-gradient-01" type="submit">Update password</button>                                        
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <% include ../partial/comm_scripts %>
    <% include ../partial/page_ends %>