<% include ../partial/head %>

<body>
    <% include ../partial/top-header %>
    <!-- Begin Page Content -->
    <div class="page-content d-flex align-items-stretch">
        <% include ../partial/nav %>
        <div class="content-inner compact">
            <div class="container-fluid">
                <div class="page-header pr-0 pl-0">
                    <div class="d-flex align-items-center">
                        <h2 class="page-header-title">Vechain wallet address</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-9">
                        <form action="/user/change_wallet" method="POST">
                            <div class="widget has-shadow">
                                <div class="widget-header bordered no-actions d-flex align-items-center">
                                    <h4>Update wallet address</h4>
                                </div>
                                <div class="widget-body">
                                    <form id="wallet_info" class="form-horizontal">
                                        <div class="form-group row d-flex align-items-center mb-5">
                                            <label
                                                class="col-lg-2 form-control-label d-flex justify-content-lg-end">wallet
                                                address</label>
                                            <div class="col-lg-10">
                                                <input type="text" id="wallet_address" readonly name="wallet_address"
                                                    value="<%=wallet_address%>" required class="form-control"
                                                    placeholder="0x........................">
                                                *double click on above box to change address.
                                            </div>
                                        </div>

                                    </form>

                                    <div class="em-separator separator-dashed"></div>
                                    <div class="text-right">
                                        <div class="col text-left">
                                            <% if (wallet_update_message && wallet_update_message != '') { %>
                                            <div class="text-success"><%- wallet_update_message %></div>
                                            <br />
                                            <% } %>
                                        </div>
                                        <button class="btn btn-gradient-01" type="submit">Save Changes</button>
                                        <button class="btn btn-shadow" onclick="location.href = '/home';"
                                            type="reset">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partial/comm_scripts %>
    <script>
        (function ($) {
            'use strict ';
            $('#wallet_address').on('dblclick', function () {
                var signingService = connex.vendor.sign('cert');
                    signingService.request({
                        purpose: 'agreement',
                        payload: {
                            type: 'text',
                            content: 'Before signing a certificate of identification, the VERIFY is unable notarize the files because VERIFY does not know your identity. The ONLY way to know your identity is requesting you to sign the certificate of identification. Once the certificate is signed, VERIFY is able notarize the files.\n\nSelect a wallet  which you would like to continue with'
                        }
                    }).then(result => {
                        console.log(result.annex.signer);
                        if(result.annex.signer){
                            $('#wallet_address').val(result.annex.signer);
                        $('#wallet_info').submit();
                        }
                    })
              });
        })(jQuery);
    </script>
    <% include ../partial/page_ends %>