<% include partial/head %>
<body class="bg-fixed-02">    
        <!-- Begin Preloader -->
        <div id="preloader">
            <div class="canvas">
                <img src="<%-consts.base_url %>theme/img/logo.png" alt="logo" class="loader-logo">
                <div class="spinner"></div>   
            </div>
        </div>
        <!-- End Preloader -->
        <!-- Begin Container -->
        <div class="container-fluid h-100 overflow-y">
            <div class="row flex-row h-100">
                <div class="col-12 my-auto">
                    <div class="mail-confirm mx-auto">
                        <div class="animated-icon">
                            <div class="gradient"></div>
                            <div class="icon"><i class="la la-at"></i></div>
                        </div>
                        <h3>Confirm your email address!</h3>
                        <p>
                            A confirmation email has been sent to <a href="#"><%= email %></a> 
                        </p>
                        <p>
                            Check your inbox and click on the link to confirm your email address.
                        </p>
                        <div class="button text-center">
                            <a href="<%-consts.base_url %>login" class="btn btn-lg btn-gradient-01">
                                Login Page
                            </a>
                        </div>
                    </div>        
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>  
<% include partial/comm_scripts %>
<% include partial/page_ends %>