<% include partial/head %>
<body class="bg-white">
    <% include partial/preloader %>
    <!-- Begin Container -->
    <div class="container-fluid h-100 error-01">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12">
                <!-- Begin Container -->
                <div class="error-container mx-auto text-center">
                    <h1>404</h1>
                    <h2>This page cannot be found! </h2>
                    
                    <a href="<%-consts.base_url %>" class="btn btn-shadow">
                        Go Home
                    </a>
                </div> 
                <!-- End Container -->
            </div>
            <!-- End Col -->
        </div> 
        <!-- End Row -->
    </div>
    <!-- End Container -->
<% include partial/comm_scripts %>
<% include partial/page_ends %>