<% include partial/head %>

<body class="bg-fixed-02">
    <% include partial/preloader %>
    <div class="container-fluid h-100 overflow-y">
        <div class="row flex-row h-100">
            <div class="col-12 my-auto">
                <div class="password-form mx-auto">
                    <div class="logo-centered">
                        <a href="<%-consts.base_url %>"><img src="theme/img/logo-sm.png" alt="logo"></a>
                    </div>
                    <h3>Password Recovery</h3>
                    <form method="POST" action="recovery">
                        <div class="group material-input">
                            <input type="email" name="email" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Email</label>
                        </div>                 
                        <div class="col text-left">
                            <% if (password_reset_message_success && password_reset_message_success != '') { %>
                            <div class="text-success"><%- password_reset_message_success %></div>
                            <br />
                            <% } %>
                            <% if (password_reset_message_failure && password_reset_message_failure != '') { %>
                                <div class="text-danger"><%- password_reset_message_failure %></div>
                                <br />
                            <% } %>
                        </div>   
                        <div class="button text-center">
                            <button type="submit" class="btn btn-lg btn-gradient-01">
                                Reset Password
                            </button>
                        </div>
                    </form>
                    <div class="back">
                        <a href="login">Sign In</a>
                    </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <% include partial/comm_scripts %>
    <% include partial/page_ends %>