<% include partial/head %>

<body>
  <% include partial/top-header %>
  <!-- Begin Page Content -->
  <div class="page-content d-flex align-items-stretch">
    <% include partial/nav %>
    <div class="content-inner compact">
      <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
          <div class="col-xl-3">
            <!-- Begin Widget 36 -->
            <div class="widget-36 widget has-shadow">
              <!-- Begin Widget Body -->
              <div class="overlay"></div>
              <div class="widget-body">
                <div class="row">
                  <div class="col-xl-12 text-center mt-3 mb-3">
                    <div class="nb-visitors">
                      Total Files Notarized
                    </div>
                    <div class="visitors-nb text-gradient-02">
                      <%= FileCount %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Widget Body -->
            </div>
            <!-- End Widget 36 -->
          </div>
          <div class="col-xl-6">
            <!-- Begin Widget 36 -->
            <div class="widget-36 widget has-shadow">
                <div class="widget-header d-flex align-items-center">
                    
                </div>
              <!-- Begin Widget Body -->
              <div class="widget-body">
                <div class="row">
                  <div class="col-xl-12 text-center mt-4 mb-4">
                    <div class="nb-visitors">
                        <h2>Your Vechain Address</h2>
                      <br><br>
                      <b><%=wallet_address%></b>
                    </div>
                   
                  </div>
                </div>
              </div>
              <!-- End Widget Body -->
            </div>
            <!-- End Widget 36 -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partial/comm_scripts %>
  <% include partial/page_ends %>