<% include partial/head %>
<body class="bg-white">
    <% include partial/preloader %>
    <!-- Begin Container -->
    <div class="container-fluid no-padding h-100">
        <div class="row flex-row h-100 bg-white">
            <!-- Begin Left Content -->
            <div class="col-xl-8 col-lg-6 col-md-5 no-padding">
                <div class="elisyam-bg background-01">
                    <div class="elisyam-overlay overlay-01"></div>
                    <div class="authentication-col-content mx-auto">
                        <h1 class="gradient-text-01">
                            Welcome To Verify!
                        </h1>
                        <span class="description">
                            <br>
                            <a href="https://www.vechain.org/" target="_blank"><img
                                    src="theme/img/logo.vechain.blue.aa420cc.png" alt="logo"></a>&nbsp; &nbsp; Powered
                            notarization tool
                        </span>
                    </div>
                </div>
            </div>
            <!-- End Left Content -->
            <!-- Begin Right Content -->
            <div class="col-xl-4 col-lg-6 col-md-7 my-auto no-padding">
                <!-- Begin Form -->
                <div class="authentication-form mx-auto">
                    <div class="logo-centered">
                        <a href="db-default.html">
                            <img src="theme/img/logo-sm.png" alt="logo">
                        </a>
                    </div>
                    <h3>Sign In To Notarize</h3>
                    <form action="login" method="POST">
                        <div class="group material-input">
                            <input type="text" name="email" required value="">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Email</label>
                        </div>
                        <div class="group material-input">
                            <input type="password" name="password" required value="">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Password</label>
                        </div>
                        <div class="row">
                            <div class="col text-left">
                                <div class="styled-checkbox">
                                    <input type="checkbox" name="checkbox" id="remeber">
                                    <label for="remeber">Remember me</label>
                                </div>
                            </div>
                            <div class="col text-right">
                                <a href="recovery">Forgot Password ?</a>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col text-left">
                            <% if (login_error && login_error != '') { %>
                            <div class="text-danger"><%- login_error %></div>
                            <br />
                            <% } %>
                            </div>
                        </div>
                        <div class="sign-btn text-center">
                            <button type="submit" class="btn btn-lg btn-gradient-01">
                                Sign in
                            </button>
                        </div>
                    </form>
                    <div class="register">
                        Don't have an account?
                        <br>
                        <a href="register">Create an account</a>
                    </div>
                </div>
                <!-- End Form -->
            </div>
            <!-- End Right Content -->
        </div>
        <!-- End Row -->
    </div>
    <% include partial/comm_scripts %>
    <% include partial/page_ends %>