<% include partial/head %>

<body class="background-01">
    <!-- Begin Preloader -->
    <div id="preloader">
        <div class="canvas">
            <img src="<%-consts.base_url %>theme/img/logo.png" alt="logo" class="loader-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Begin Container -->
    <div class="container-fluid h-100 overflow-y">
        <div class="row flex-row h-100">
            <div class="col-12 my-auto">
                <div class="mail-confirm mx-auto">
                    <div class="img_vchain"><img src="<%-consts.base_url %>theme/img/logo-sm.png"
                            alt="logo"></div>

                    <h3>Reset your account password</h3>
                    <form action="/recovery/reset" method="POST">
                        <div class="group material-input">
                            <input name="password" type="password" required value="" placeholder="Password">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>
                        <div class="group material-input">
                            <input type="password" required value="" placeholder="Confirm Password">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>
                        <br>
                        <div class="col text-left">
                            <% if (password_update_message && password_update_message != '') { %>
                            <div class="text-success"><%- password_update_message %></div>
                            <br />
                            <% } %>                          
                        </div>   
                        <div class="sign-btn text-center">
                            <button type="submit" class="btn btn-lg btn-gradient-02">
                                    Update
                            </button>       
                        </div>
                    </form>
                    <div class="back">
                            <a href="/login">Sign In</a>
                    </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <style>
        .img_vchain {
            width: 100%;
            display: inline-block;
            margin-bottom: 40px;
        }

        .img_vchain img {
            margin: auto;
            display: block;
            width: 150px;
        }
    </style>
    <% include partial/comm_scripts %>
    <% include partial/page_ends %>