<% include partial/head %>

<body class="bg-fixed-02">
    <!-- Begin Preloader -->
    <div id="preloader">
        <div class="canvas">
            <img src="<%-consts.base_url %>theme/img/logo.png" alt="logo" class="loader-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Begin Container -->
    <div class="container-fluid h-100 overflow-y">
        <div class="row flex-row h-100">
            <div class="col-12 my-auto">
                <div class="mail-confirm mx-auto">
                    <div class="sa-icon sa-success animate" style="display: block;">
                        <span class="sa-line sa-tip animateSuccessTip"></span>
                        <span class="sa-line sa-long animateSuccessLong"></span>
                        <div class="sa-placeholder"></div>
                        <div class="sa-fix"></div>
                    </div>
                    <h3>Your email has been verified!</h3>
                    <p>
                        Your email <a href="#"><%= email %></a> verified successfully!
                    </p>
                    <p>
                        Please click on login to continue.
                    </p>
                    <div class="button text-center">
                        <a href="<%-consts.base_url %>login" class="btn btn-lg btn-gradient-01">
                            Login Page
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <% include partial/comm_scripts %>
    <% include partial/page_ends %></div>