<% include partial/head %>

<body class="background-01">
    <!-- Begin Preloader -->
    <div id="preloader">
        <div class="canvas">
            <img src="<%-consts.base_url %>theme/img/logo.png" alt="logo" class="loader-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Begin Container -->
    <div class="container-fluid h-100 overflow-y">
        <div class="row flex-row h-100">
            <div class="col-12 my-auto">
                <div class="mail-confirm mx-auto">
                    <div class="img_vchain"><img src="<%-consts.base_url %>theme/img/logo.vechain.blue.aa420cc.png"
                            alt="logo"></div>

                    <h3>Click below to identify your wallet address</h3>
                    <form id="wallet_info" action="/register/walletinfo" method="POST">
                        <div class="group material-input">
                            <input id="wallet_address" type="hidden" name="wallet_address" required
                                placeholder="wallet address" value="">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>
                        <br>
                        <div class="sign-btn text-center">
                            <a id="wallet_address_get" class="btn btn-lg btn-gradient-02" href="#">
                                get my wallet address
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <style>
        .img_vchain {
            width: 100%;
            display: inline-block;
            margin-bottom: 40px;
        }

        .img_vchain img {
            margin: auto;
            display: block;
            width: 150px;
        }
    </style>
    <% include partial/comm_scripts %>
    <script>
        (function ($) {
            'use strict ';
            $('#wallet_address_get').on('click', function () {           
                    var signingService = connex.vendor.sign('cert');
                    signingService.request({
                        purpose: 'agreement',
                        payload: {
                            type: 'text',
                            content: 'Before signing a certificate of identification, the VERIFY is unable notarize the files because VERIFY does not know your identity. The ONLY way to know your identity is requesting you to sign the certificate of identification. Once the certificate is signed, VERIFY is able notarize the files.\n\nSelect a wallet  which you would like to continue with'
                        }
                    }).then(result => {
                        console.log(result.annex.signer);
                        if(result.annex.signer){
                            $('#wallet_address').val(result.annex.signer);
                        $('#wallet_info').submit();
                        }
                    })
                
            });
        })(jQuery);
    </script>
    <% include partial/page_ends %>