<script src="<%-consts.base_url %>theme/js/jquery.min.js"></script>
<script src="<%-consts.base_url %>theme/js/core.min.js"></script>
<script>
    var network_explorer = "<%-consts.vet_explorer %>";
</script>
<script src="<%-consts.base_url %>theme/js/main.js"></script>
<script src="<%-consts.base_url %>theme/js/apostile.js"></script>