<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%if(typeof(title) !== 'undefined') { __append(title) } %> </title>
    <meta name="description" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="<%-consts.base_url %>theme/img/fav.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%-consts.base_url %>theme/img/fav.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%-consts.base_url %>theme/img/fav.png">
    <!-- Google Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {"families":["Montserrat:400,500,600,700","Noto+Sans:400,700"]},
        active: function() {
            sessionStorage.fonts = true;
        }
      });
    </script>
    <!-- Favicon -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="<%-consts.base_url %>theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%-consts.base_url %>theme/css/custom.min.css">
</head>