<div class="compact-sidebar light-sidebar has-shadow">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll">
        <!-- Begin Main Navigation -->
        <ul class="list-unstyled">
            <li>
                <a href="<%-consts.base_url %>home">
                    <i class="la la-columns"></i><span>Home</span>
                </a>
            </li>
            <li>
                <a href="<%-consts.base_url %>notarize/create">
                    <i class="la la-legal"></i><span>Notarize</span>
                </a>
            </li>
            <li>
                <a href="<%-consts.base_url %>notarize/list">
                    <i class="la la-archive"></i><span>Files</span>
                </a>
            </li>
            <li>
                <a href="<%-consts.base_url %>notarize/verfiy">
                    <i class="la la-magic"></i><span>Verfiy</span>
                </a>
            </li>
            <li>
                <a href="<%-consts.base_url %>user/logout">
                    <i class="la la-sign-out"></i><span>Logout</span>
                </a>
            </li>           
        </ul>
        <span class="sidebar-separator"></span>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->