<!-- Preloader -->
<div id="preloader">
    <div class="canvas">
        <img src="theme/img/logo-sm.png" alt="logo" class="loader-logo">
        <div class="spinner"></div>
    </div>
</div>
<!-- End Preloader -->