<header class="header">
        <nav class="navbar fixed-top">         
           
            <!-- Begin Topbar -->
            <div class="navbar-holder">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-2">
                        <!-- Toggle Button -->
                        <a id="toggle-btn" href="#" class="menu-btn active ml-2">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                        <!-- End Toggle -->
                    </div>
                    <div class="col-xl-4 col-3 d-flex justify-content-center">
                        <div class="navbar-header">
                            <a href="<%-consts.base_url %>home" class="navbar-brand">
                                <div class="brand-image brand-big">
                                    <img src="<%-consts.base_url %>theme/img/logo-big.png" alt="logo" class="logo-big">
                                </div>
                                <div class="brand-image brand-small">
                                    <img src="<%-consts.base_url %>theme/img/logo.png" alt="logo" class="logo-small">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-7">
                        <!-- Begin Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
                            <!-- Search -->
                            
                            <!-- End Search -->
                            <!-- Begin Notifications -->
                            <li class="nav-item dropdown">
                                <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                                        <i class="la la-bell "></i> <!-- animated infinite swing <span class="badge-pulse"></span> --></a>
                                <ul aria-labelledby="notifications" class="dropdown-menu notification">
                                    <li>
                                        <div class="notifications-header">
                                            <div class="title">Notifications (0)</div>
                                            <div class="elisyam-overlay overlay-07"></div>
                                            <img src="<%-consts.base_url %>theme/img/notifications/01.jpg" alt="..." class="img-fluid">
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">
                                            No new notifications!
                                        </a>
                                    </li>                                   
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">View All Notifications</a>
                                    </li>
                                </ul>
                            </li> 
                            <!-- End Notifications -->
                            <!-- User -->
                            <li class="nav-item dropdown">
                                <a id="user" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                                <img src="<%-consts.base_url %>theme/img/avatar/avatar-01.png" alt="..." class="avatar rounded-circle"></a>
                                <ul aria-labelledby="user" class="user-size dropdown-menu">
                                    <li class="welcome">
                                        <a href="#" class="edit-profil"><i class="la la-gear"></i></a>
                                        <img src="<%-consts.base_url %>theme/img/avatar/avatar-01.png" alt="" class="rounded-circle">
                                    </li>
                                    <li>
                                        <a href="<%-consts.base_url %>user/change_wallet" class="dropdown-item"> 
                                            Change wallet address
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<%-consts.base_url %>user/profile" class="dropdown-item"> 
                                            Profile
                                        </a>
                                    </li>
                                   
                                    <li class="separator"></li>
                                    <!-- <li>
                                        <a href="pages-faq.html" class="dropdown-item no-padding-top"> 
                                            Faq
                                        </a>
                                    </li> -->
                                    <li><a rel="nofollow" href="<%-consts.base_url %>user/logout" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
                                </ul>
                            </li>
                            <!-- End User -->
                            <!-- Begin Quick Actions -->
                            <!-- <li class="nav-item"><a href="#off-canvas" class="open-sidebar"><i class="la la-ellipsis-h"></i></a></li> -->
                            <!-- End Quick Actions -->
                        </ul>
                        <!-- End Navbar Menu -->
                    </div>
                </div>
            </div>
            <!-- End Topbar -->
        </nav>
    </header>