<% include ../partial/head %>

<body>
    <% include ../partial/top-header %>
    <!-- Begin Page Content -->
    <div class="page-content d-flex align-items-stretch">
        <% include ../partial/nav %>
        <div class="content-inner compact">
            <div class="container-fluid">
                <!-- Begin Page Header-->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h4>Upload files to notarize</h4>
                            </div>
                            <div class="widget-body">
                                <form id="dropzone_notarize" action="/notarize/file-upload" class="dropzone">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="widget widget-20 has-shadow">
                            <div class="widget-header bordered d-flex align-items-center">
                                <h2>Files</h2>
                            </div>
                            <div class="widget-body">
                                <div id="resultLocation" class="row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Success Modal -->
    <div id="messge-modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="dia_anim"></div>
                    <div class="section-title mt-5 mb-2">
                        <h2 class="text-gradient-02 msg_title"></h2>
                    </div>
                    <p class="mb-5 msg_content"></p>
                    <button type="button" class="btn btn-shadow mb-3" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Success Modal -->
    <% include ../partial/comm_scripts %>
    <link rel="stylesheet" href="<%-consts.base_url %>theme/plugins/dropify/css/dropzone.min.css">
    <script src="<%-consts.base_url %>theme/plugins/dropify/js/dropzone.min.js"></script>

    <style>
        .dropzone.dz-clickable {
            border: .07rem solid #eee;
            min-height: 270px;
        }
    </style>
    <script type="text/javascript">


        function setDataRow(fileInfo) {
            var dataRow = "<div class='col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-4 file_item_con'>" +
                "<div class='media w-100'>" +
                "<div class='align-self-center mr-2'>" +
                "<i class='la la-file-o'></i>" +
                "</div>" +
                "<div class='media-body align-self-center'>" +
                "<div class='files-title'><a href='#'>" + fileInfo.filename + "</a></div>" +
                "</div>" +
                "<div class='media-body'>" +
                "<div class='media-right align-self-center button_con'>" +
                "<button data-file_hash='" + fileInfo.file_hash + "'" +
                "data-file_id='" + fileInfo.id + "'" +
                "class='btn btn-gradient-01 notarize_file'>Notarize</button>" +
                "&nbsp <button data-file_id='" + fileInfo.id + "'" +
                "class='btn btn-gradient-02 remove_file'>Remove</button>" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>";
            return dataRow;
        }

        (function ($) {
            'use strict';
            // Dropzone.options.dropzone_notarize = {
            //     url: "<%-consts.base_url %>/file/post",
            // };
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone("#dropzone_notarize");
            myDropzone.on("success", function (info, res) {
                /* Maybe display some more file information on your page */
                const artifacts = res.artifacts;
                artifacts.forEach(function (a) {
                    $('#resultLocation').prepend(setDataRow(a));
                    //  console.log(a);
                });
                console.log(info, res);
            });
            var user_account = "<%=wallet_address %>";
            $('#resultLocation').on('click', '.notarize_file', function () {
                var clicked_item = $(this);
                var file_hash_gen = clicked_item.data('file_hash');
                var file_id = clicked_item.data('file_id');

                notarise(file_hash_gen, user_account).then(function (response) {
                    var tran_res = response;
                    console.log("Success!", response);
                    //send ajax request    
                    var data = {
                        "file_id": file_id,
                        "transaction_id": tran_res.txid,
                        "transaction_signer": user_account
                    }

                    $.ajax({
                        type: 'POST',
                        url: '<%-consts.base_url %>notarize/reg_file',
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        success: function (data) {
                            if (data.data == 1) {
                                $('#messge-modal .dia_anim').html('<div class="sa-icon sa-success animate" style="display: block;"><span class="sa-line sa-tip animateSuccessTip"></span><span class="sa-line sa-long animateSuccessLong"></span><div class="sa-placeholder"></div> <div class="sa-fix"></div></div>');
                                $('#messge-modal .msg_title').html('File notarized');
                                $('#messge-modal .msg_content').html('Transaction successfully added to Vchain');
                                $('#messge-modal').modal({ 'show': true, backdrop: 'static', keyboard: false });
                                clicked_item.parents().find('.button_con').html('<a href="<%=consts.base_url %>notarize/' + tran_res.txid + '/download" class="btn btn-gradient-04">Download</a>&nbsp<a target="_blank" href= "<%-consts.vet_explorer %>transactions/' + tran_res.txid + '" class="btn btn-gradient-02 ">View in Explorer</a>');
                            } else {
                                $('#messge-modal .dia_anim').html('');
                                $('#messge-modal .msg_title').html('File cant notarize');
                                ('#messge-modal .msg_content').html('Transaction failed.');
                            }
                        }
                    }).done(function () {

                    }).fail(function () {
                        $('#messge-modal .dia_anim').html('');
                        $('#messge-modal .msg_title').html('File cant notarize');
                        ('#messge-modal .msg_content').html('Transaction failed.');
                    });
                }, function (error) {
                    $('#messge-modal .msg_title').html('Unable to launch the VeChain App.');
                    $('#messge-modal .msg_content').html('<br><br>' + error + '<br> - ');
                    $('#messge-modal').modal({ 'show': true, backdrop: 'static', keyboard: false });
                })
            });
            $('#resultLocation').on('click', '.remove_file', function () {
                var clicked_item = $(this);
                var file_id = clicked_item.data('file_id');

                var data = {
                    "file_id": file_id
                }

                $.ajax({
                    type: 'POST',
                    url: '<%-consts.base_url %>notarize/delete_file',
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    success: function (result) {
                        if (result.data == 1) {
                            clicked_item.parents().find('.file_item_con').remove();
                            Dropzone.forElement('#dropzone_notarize').removeAllFiles(true)
                        }
                    }
                }).done(function () {

                })
            });
        })(jQuery);
    </script>
    <% include ../partial/page_ends %>