<% include ../partial/head %>

<body>
    <% include ../partial/top-header %>
    <!-- Begin Page Content -->
    <div class="page-content d-flex align-items-stretch">
        <% include ../partial/nav %>
        <div class="content-inner compact">
            <div class="container-fluid">
                <div class="page-header pr-0 pl-0">
                    <div class="d-flex align-items-center">
                        <h2 class="page-header-title">Files</h2>
                        <div>
                            <div class="page-header-tools">
                                <a class="btn btn-gradient-01" href="/notarize/create">New file notarize</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Begin Page Header-->
                <div class="row ">
                    <% files.forEach(function(file){ %>
                    <div class="col-xl-3 file_item_con">
                        <div class="widget widget-23 has-shadow  d-flex justify-content-center align-items-center ">
                            <div class="widget-body text-center">
                                <i class="ti ti-zip"></i>
                                <div class="number"><%- file.filename %> </div>
                                <div class="top_lev_btn">
                                    <button type="button" data-file_id="<%- file.id %>" class=" remove_file"><i
                                            class="la la-trash"></i></button>
                                </div>
                                <div class="text-center mt-3 mb-3">
                                    <% if(file.trx_id) { %>
                                    <a title="Download notarized file" href="<%=consts.base_url %>notarize/<%- file.trx_id %>/download" 
                                        class="btn btn-gradient-01 mr-1 mb-2"><i class="la la-download"></i></a>
                                    <a title="View in blockexplorer" target="_blank" href="<%-consts.vet_explorer %>transactions/<%=file.trx_id%>"
                                        class="btn btn-gradient-02 mr-1 mb-2"><i class="la la-cubes"></i></a>
                                    <% } %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Success Modal -->
    <div id="messge-modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="dia_anim"></div>
                    <div class="section-title mt-5 mb-2">
                        <h2 class="text-gradient-02 msg_title"></h2>
                    </div>
                    <p class="mb-5 msg_content"></p>
                    <button type="button" class="btn btn-shadow mb-3 confirm_delete">Yes, Delete file</button>
                    <button type="button" class="btn btn-secondary mb-3" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Success Modal -->
    <% include ../partial/comm_scripts %>

    <script type="text/javascript">
        (function ($) {
            'use strict';
            $('.remove_file').on('click', function () {
                var clicked_item = $(this);
                var file_id = clicked_item.data('file_id');
                var data = {
                    "file_id": file_id
                }
                $('#messge-modal .msg_title').html('Delete file');
                $('#messge-modal .msg_content').html('You are about to delete the file. Do you want to continue ?');
                $('#messge-modal').modal({ 'show': true, backdrop: 'static', keyboard: false });
                $('#messge-modal .dia_anim').html('');
                $('#messge-modal .modal-body button').show();
                $('.confirm_delete').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: '<%-consts.base_url %>notarize/delete_file',
                        data: JSON.stringify(data),
                        dataType: "json",
                        contentType: "application/json",
                        cache: false,
                        success: function (result) {
                            if (result.data == 1) {
                                clicked_item.parents().closest(".file_item_con").remove();
                                $('#messge-modal .dia_anim').html('<div class="sa-icon sa-success animate" style="display: block;"><span class="sa-line sa-tip animateSuccessTip"></span><span class="sa-line sa-long animateSuccessLong"></span><div class="sa-placeholder"></div> <div class="sa-fix"></div></div>');
                                $(".confirm_delete").unbind("click");
                                $('#messge-modal .msg_title').html('File deleted');
                                $('#messge-modal .msg_content').html('');
                                $('#messge-modal .modal-body button').hide();
                                setTimeout(function () { $('#messge-modal').modal("hide") }, 2000);
                            }
                        }
                    }).done(function () {

                    })
                    //clicked_item.parents().closest(".file_item_con").remove();
                })
            });
        })(jQuery);
    </script>
    <% include ../partial/page_ends %>