<% include ../partial/head %>

<body>
    <% include ../partial/top-header %>
    <!-- Begin Page Content -->
    <div class="page-content d-flex align-items-stretch">
        <% include ../partial/nav %>
        <div class="content-inner compact">
            <div class="container-fluid">
                <!-- Begin Page Header-->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="widget has-shadow">
                            <div class="widget-header bordered no-actions d-flex align-items-center">
                                <h4>Drop files to Verify</h4>
                            </div>
                            <div class="widget-body">
                                <form id="dropzone_notarize" action="/notarize/verfiy" class="dropzone">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="widget widget-20 has-shadow">
                            <div class="widget-header bordered d-flex align-items-center">
                                <h2>Result</h2>
                            </div>
                            <div class="widget-body">
                                <div id="resultLocation" class="row">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Success Modal -->
    <div id="messge-modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="dia_anim"></div>
                    <div class="section-title mt-5 mb-2">
                        <h2 class="text-gradient-02 msg_title"></h2>
                    </div>
                    <p class="mb-5 msg_content"></p>
                    <button type="button" class="btn btn-shadow mb-3" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Success Modal -->
    <% include ../partial/comm_scripts %>
    <link rel="stylesheet" href="<%-consts.base_url %>theme/plugins/dropify/css/dropzone.min.css">
    <script src="<%-consts.base_url %>theme/plugins/dropify/js/dropzone.min.js"></script>

    <style>
        .dropzone.dz-clickable {
            border: .07rem solid #eee;
            min-height: 270px;
        }
    </style>
    <script type="text/javascript">

        (function ($) {
            'use strict';
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone("#dropzone_notarize");
            myDropzone.on("success", function (info, res) {
                var artifacts = res.artifacts;
                render_file_audit(artifacts);
            });
            function render_file_audit(info) {
                audit(info.file_name, info.file_hash).then(function (response) {
                    append_result(response,info.file_name);
                }, function (error) {
                    $('#messge-modal .msg_title').html('Unable to verify the file.');
                    $('#messge-modal .msg_content').html('<br><br> The file name renamed or broken.<br> please try with notarized file.');
                    $('#messge-modal').modal({ 'show': true, backdrop: 'static', keyboard: false });
                });
            }
            function append_result(response,filename){
                var val_stat = '<div class="file_stat"><i class="la la-close"></i>Invalid</div>';
                var audit_info ='';
                if(response.is_valid == 1){
                    audit_info ='File validated successfully';
                    val_stat = '<div class="file_stat"><i class="la la-check"></i> Verified</div>';
                }else{
                    audit_info ='File verification failed';
                }     
                var tpl = '<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-4 file_item_con">'            
                    +'<div class="media w-100"><div class="align-self-center mr-2"> <i class="la la-file-o"></i> </div>'
                    +'<div class="media-body align-self-center"><div class="files-title"><a href="#">'+filename+'</a></div></div>'
                    +'<div class="media-body">'
                    +'<div class="media-right align-self-center button_con"> &nbsp '+val_stat+' &nbsp <a target="_blank" href="'+network_explorer+'transactions/'+response.trx_id+'" class="btn btn-gradient-02">View in Explorer</a></div></div>'
                    +'</div></div>';           
                $('#resultLocation').prepend(tpl);
            } 
        })(jQuery);
    </script>
    <% include ../partial/page_ends %>